.container{ margin-left: auto;
margin-right: auto;
width: 1024ox;
border: 2px solid black; }
.path{font-family: 'Pathway Gothic One', sans-serif;
}

.flex{ display: flex; }
.justify-betven{ justify-content: space-between; }

.pd-left21{ padding-left: 21px; }
.pd-left17{ padding-left: 17px; }
.pd-left155{ padding-left: 155px; }
.pd-left12{ padding-left: 12px; }
.pd-left9{ padding-left: 9px; }
.pd-left60{ padding-left: 60px; }
.pd-left100{ padding-left: 100px; }
.pd-left19{ padding-left: 19px; }
.pd-left39{ padding-left: 39px; }
.pd-left5{ padding-left: 5px; }
.pd-left75{ padding-left: 75px; }
.pd-left30{ padding-left: 30px; }

.pd-top21{ padding-top: 21px; }
.pd-top28{ padding-top: 28px; }
.pd-top9{ padding-top: 9px; }
.pd-top17{ padding-top: 17px; }
.pd-top80{ padding-top: 80px; }
.pd-top23{ padding-top: 23px; }
.pd-top19{ padding-top: 19px; }
.pd-top11{ padding-top: 11px; }
.pd-top47{ padding-top: 47px; }
.pd-top43{ padding-top: 43px; }

.pd-bottom20{ padding-bottom: 20px; }
.pd-bottom50{ padding-bottom: 50px; }
.pd-bottom9{ padding-bottom: 9px; }
.pd-bottom18{ padding-bottom: 18px; }
.pd-bottom72{ padding-bottom: 72px; }
.pd-bottom38{ padding-bottom: 38px; }
.pd-bottom17{ padding-bottom: 17px; }

.pd-right12{ padding-right: 12px; }
.pd-right32{ padding-right: 32px; }
.pd-right64{ padding-right: 64px; }
.pd-right19{ padding-right: 19px; }
.pd-right52{ padding-right: 52px; }
.pd-right9{ padding-right: 9px; }

.mg-top18{ margin-top: 18px; }

.w-431{ width: 431px; }
.border-right{ border-right: 2px solid gray; }
.color-white{ color: white; }
.color-gray{ color: gray; }
.color-boz{ color: #9d9b9b; }
.text-decor-none{ text-decoration: none; }
.fs-21{ font-size: 21px; }
.fs-33{ font-size: 33px; }
.fs-61{ font-size: 61px; }
.fs-17{ font-size: 17px; }
.fs-15{ font-size: 15px; }
.fs-19{ font-size: 19; }
.fs-27{ font-size: 27px; }
.fs-31{ font-size: 31px; }
.bold{ font-weight: 700; }
.uppercase{ text-transform: uppercase; }
.bg-sky{ background: #00d2af; }

.items-center{ align-items: center; }
.justify-content{ justify-content: center; }

.display-block{ display: block; }
.border-radius10{ border-radius: 10px; }
.border-radius5{ border-radius: 5px; }
.border-color-white{ border-color: white; }

.w-33{ width: 33%; }
.w-30{ width: 30%; }
.w-25{ width: 25%; }

.btn{
	width: 70px;
	height: 32px;
	background: #18ffd8;
	border-radius: 5px;
}


.text-center{ text-align: center; }

.bg-yasil{ background: #10d8b6; }
.bg-2{ background: #1da28c; }

